<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail - UNDERGOLD</title>
    <link rel="stylesheet" href="../src/css/detail.css">
</head>
<body>
    <section class="img-box">
        <a href="#"><img src="../src/storage/img/back.svg" alt="" class="back"></a>
        <img src="../src/storage/img/ropa-1.1.png" alt="" class="shirt">
        <a href="#"><img src="../src/storage/img/Heart.png" alt="" class="heart"></a>
    </section>

    <section class="content-box">
        <div class="text">
            <h1>Basics Light Logo v2 Black</h1>
            <div class="puntuaction">
                <img src="../src/storage/img/star.svg" alt="">
                <p>5.0 </p>
                <p>(7.932 reviews)</p>
            </div>
            <div class="stock">
                <button><img src="../src/storage/img/minus.svg" alt=""></button>
                <p>1</p>
                <button><img src="../src/storage/img/add.svg" alt=""></button>
            <div class="description">
                <p>Its simple and elegant shape makes it perfect for
                    those of you who like you who want minimalist
                    clothes 
                </p>
            </div>
            <div class="size">
                <h2>Choose Size</h2>
                <button>S</button>
                <button>M</button>
                <button>L</button>
                <button>XL</button>
            </div>
            <div class="color">
                <h2>color</h2>
                <img src="../src/storage/img/1.svg" alt="">
                <img src="../src/storage/img/2.svg" alt="">
                <img src="../src/storage/img/3.svg" alt="">
            </div>
            </div>
        </div>
        <div class="button">
            <a href="#">
                <img src="../src/storage/img/buy.svg" alt="">
                <p>Add to Cart | $162.99</p>
                <p>$190.99<</p>
            </a>
        </div>
    </section>
</body>
</html>