<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - UNDERGOLD</title>
    <link rel="stylesheet" href="../src/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header">
        <div class="welcome">
            <p class="welcome">Hello, Welcome</p>
            <h1 class="nombre-user">Albert Stevano</h1>
        </div>
        <img src="../src/storage/img/img-profile.png" alt="" class="img-profile">
    </header>
    <main>
        <section class="search-box">
            <input type="text" placeholder="Search Clothes..." class="search-input" >
            <a href="#"><img src="../src/storage/img/filter.svg" alt=""></a>
        </section>
        <section class="filter-clothes">
            <button class="all"><img src="../src/storage/img/all-class.svg" alt=""></i><p>All Items</p></button>
            <button class="dress"><img src="../src/storage/img/dress-class.svg" alt=""><p>Dress</p></button>
            <button class="t-shirt"><img src="../src/storage/img/t-shirt-class.svg" alt=""><p>T-Shirt</p></button>
            <button class="pants"><img src="../src/storage/img/pants-class.svg" alt=""><p>Pants</p></button>
        </section>

        <section class="clothe">
            <section class="clothe-column-1">
                <div class="clothe-box1">
                    <a href="../views/detail.html">
                        <img src="../src/storage/img/ropa-1.1.png" alt="" class="img-1">
                        <img src="../src/storage/img/heart.svg" alt="" class="favorite">
                        <h3>Basics Light Logo V2 Black</h3>
                        <p>T-Shirt</p>
                        <div class="price-star">
                            <h2>$230.000 COP</h2>
                            <button><img src="../src/storage/img/star.svg" alt=""><p>5.0</p></button>
                        </div> 
                    </a>
                </div>
    
                <div class="clothe-box2">
                    <a href="#">
                        <img src="../src/storage/img/ropa-2.1.png" alt="" class="img-2">
                        <img src="../src/storage/img/heart-filled.svg" alt="" class="favorite">
                        <h3>Basics Light Logo White</h3>
                        <p>T-Shirt</p>
                        <div class="price-star">
                            <h2>$230.000 COP</h2>
                            <button><img src="../src/storage/img/star.svg" alt=""><p>5.0</p></button>
                        </div> 
                    </a>
                </div>
            </section>
            
            <section class="clothe-column-2">
                <div class="clothe-box4">
                    <a href="#">
                        <img src="../src/storage/img/ropa-4.1.png" alt="" class="img-4">
                        <img src="../src/storage/img/heart-filled.svg" alt="" class="favorite">
                        <h3>Line Logo Washed Gray</h3>
                        <p>T-Shirt</p>
                        <div class="price-star">
                            <h2>$230.000 COP</h2>
                            <button><img src="../src/storage/img/star.svg" alt=""><p>5.0</p></button>
                        </div>
                    </a>
                </div>
                <div class="clothe-box3">
                    <a href="#">
                        <img src="../src/storage/img/ropa-3.1.png" alt="" class="img-3">
                        <img src="../src/storage/img/heart.svg" alt="" class="favorite">
                        <h3>Line Logo Tshirt Black</h3>
                        <p>T-shirt</p>
                            <div class="price-star">
                                <h2>$230.000 COP</h2>
                                <button><img src="../src/storage/img/star.svg" alt=""><p>5.0</p></button>
                            </div>
                    </a>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <div class="bottom-nav">
            <div class="nav-item">
                <a href="#"><img src="../src/storage/img/home-icon.svg" alt=""></a>
            </div>
            <div class="nav-item">
                <a href="#"><img src="../src/storage/img/main-Icon.svg" alt=""></a>
            </div>
            <div class="nav-item">
                <a href="#"><img src="../src/storage/img/favorite-icon.svg" alt=""></a>
            </div>
            <div class="nav-item">
                <a href="#"><img src="../src/storage/img/profile-icon.svg" alt=""></a>
            </div>
        </div>
    </footer>
</body>
</html>

