<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undergold - UNDERGOLD</title>
    <link rel="stylesheet" href="../src/css/welcome.css">
</head>
<body>
    <header>
        <h1 class="tittle-store">UNDERGOLD</h1> 
    </header>
    <video class="video-home" preload="auto" playsinline="" data-autoplay="" muted="" loop="" data-expand="-10" autoplay="" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" 
    src="../src/storage/img/video-home.mp4" >
    </video>
    <section class="compra">
        <h1>THE ONE</h1>
        <button>Compra Ahora</button>
    </section>
</body>
</html>