@import url(variables.css);
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container{
    width: 90%;
    max-width: 1000px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, auto);

    grid-template-areas: "header", "header", "header"
                        "buttons", "buttons", "buttons"
                        "content", "content", "content"
                        "titulo-coleccion", "titulo-coleccion", "titulo-coleccion"
                        "texto-coleccion", "texto-coleccion", "texto-coleccion"
                        "imagen-ropa1", "imagen-ropa2", "imagen-ropa3"
                        "footer", "footer", "footer"
    ;
}
.header{
    grid-area: "header";
}
.buttons{
    grid-area: "buttons";
}
.content{
    grid-area: "content";
}
.titulo-coleccion{
    grid-area: "titulo-coleccion";
}
.texto-coleccion{
    grid-area: "texto-coleccion";
}
.imagen-ropa1{
    grid-area: "imagen-ropa1";
}
.imagen-ropa2{
    grid-area: "imagen-ropa2";
}
.imagen-ropa3{
    grid-area: "imagen-ropa3";
}