:root{
    --color-1: #292526;
    --color-2: #787676;
    --color-3: #a3a1a2;
    --color-4: #f2f2f2;
    --color-5: #121111;
}
@font-face {
    font-family: "EncodeSans-Regular";
    src: url(../storage/fonts/Encode_Sans/static/EncodeSans-Regular.ttf);
}
@font-face {
    font-family: "EncodeSans-Bold";
    src: url(../storage/fonts/Encode_Sans/static/EncodeSans-Bold.ttf);
}
@font-face {
    font-family: "EncodeSans-Medium";
    src: url(../storage/fonts/Encode_Sans/static/EncodeSans-Medium.ttf);
}
@font-face {
    font-family: "EncodeSans-Semibold";
    src: url(../storage/fonts/Encode_Sans/static/EncodeSans_Condensed-SemiBold.ttf);
}
@font-face {
    font-family: "EncodeSans-Mixed";
    src: url(../storage/fonts/Encode_Sans/static/);
}